.git
.github
.env
.env.*
!.env.example
.envbak

node_modules
vendor

/.agents
/.ai
/.claude
/.codex
/.cursor
/.idea
/.junie
/.nova
/.vscode
/.zed

/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

/tests
/docs
/references

*.md
.editorconfig
.gitattributes
.npmrc
.mcp.json
phpunit.xml
